/* Estilo general para toda la página */
body {
    background-color: #9effb0; /* Verde muy claro en hexadecimal */
    font-family: sans-serif; 
}

#mi-nombre {
    color: rgb(0, 102, 255);
    text-align: center;
}

.dato-importante {
    font-weight: bold; /* Texto en negrita */
}

header {
    margin-bottom: 30px;
}

/* El contenedor que envuelve los elementos */
main {
    max-width: 500px;
    margin: auto;   
}

#biografía {
    display: flex;      
    flex-wrap: wrap;  
    justify-content: center;
    gap: 20px;         
}

.biografia-color {
    padding: 20px;
    border: 2px solid brown;
    background-color: #23fff4;
}