.noche {
    background-color: black;

    #textoboton {
        background-color: white;
    }

    #parrafo {
        background-color: white;
    }

    #textoboton2 {
        background-color: white;
    }
}