/* Estilos normales (para ordenador) */

body {
    background-color: #9effb0; /* Verde muy claro en hexadecimal */
    font-family: sans-serif; 
}

/* Estilo general para toda la página */
#mi-nombre {
    color: rgb(0, 102, 255);
    text-align: center;
}

.dato-importante {
    font-weight: bold; /* Texto en negrita */
}

header {
    margin-bottom: 30px;
}

/* El contenedor que envuelve los elementos */
main {
    max-width: 1000px;
    margin: auto;   
}

#biografía {
    display: flex;      
    justify-content: center;
    gap: 20px;
    align-items: center; 
}

.biografia-color {
    padding: 20px;
    border: 2px solid brown;
    background-color: #23fff4;
}

.biografia-color img {
    width: 250px;
    height: auto;
}

#biografiatitulo {
    text-align: center;
}

#habilidadestitulo {
    text-align: center;
}

/* Estilos para móviles (pantallas de menos de 600px) */
@media (max-width: 600px) {
    article {
        width: 100%; /* La tarjeta ocupa todo el ancho en el móvil */
    }
    h1 {
        font-size: 1.5rem; /* Hacemos el título un poco más pequeño */
    }
    body {
        background-color: lightcoral;
    }
}